<form method="post" action="/home/NewOrder">
    <input type="text" placeholder="Title" name="title" class="form-control" />
    <br />
    <input type="text" placeholder="Amount" name="amount" class="form-control" />
    <br />
    <br />
    <button class="btn btn-primary">Submit</button>
</form>